<!DOCTYPE html>
<html data-ng-app="myApp" lang="en" >
<head>
	<title>Template that uses Bootstrap </title>
	<meta name="viewport" content="width=device width,initialscale=1.0"/>
	<!--Boostrap-->
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	
	</head>
	
	<body>
		<div class="container" data-ng-controller="myCtrl" >  
            
			
			
		<div class="row" id="pwd-container">
			<div class="col-md-4"></div>
			
			<div class="col-md-4" data=>
				<section class="login-form">
					<form method="post"  role="login">
					
                        <img src="css/images/logo.png" class="img-responsive" alt="" />
						<input type="text" name="id" placeholder="Username"  class="form-control input-lg" data-ng-model="adminID"/>					  
						<input type="password" class="form-control input-lg" id="password" placeholder="Password"  data-ng-model="adminPW"/> 			  					  
						<button name="go" class="btn btn-lg btn-primary btn-block" id="login" data-ng-click="adminCheck(adminID,adminPW)">Sign in</button> 
						<button class="btn btn-lg btn-primary btn-block" id="login" data-toggle="modal" data-target="#myModal">Register</button> 
					  
					</form>			
                    
                    {{$scope.adminProceed}}
				 <div data-ng-if="adminProceed==true">
                        Log in Successful
                        </div>
                        <div data-ng-if="adminProceed==false">
                        Invalid ID and Password
                        </div>
                </section> 
			</div>        
		</div>
        
            
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Registration form</h4>
                    </div>
                    
                    <div class="modal-body">
                        <form name="registrationForm" class="form-horizontal" novalidate="novalidate" data-ng-submit="adminRegis(userID,userPass,acctype)">
                            <fieldset>
                                <legend>Please key in your personal details</legend>
                                <div class="form-group">
                                    <label for="userID" class="control-label col-md-3 col-sm-3 col-xs-3"> Username  : </label>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" data-ng-model="userID" id="userID" data-ng-required="required" name="uname"/>
                                        
                                        <span data-ng-show="registrationForm.uname.$error.required && registrationForm.uname.$touched" class="text-danger"> You must enter a event name</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="userPass" class="control-label col-md-3 col-sm-3 col-xs-3">Password:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="password" class="form-control" data-ng-required="required" data-ng-model="userPass" minlength="7" name="pw"/>
                                        
                                        <span data-ng-show="registrationForm.pw.$error.required && registrationForm.pw.$touched" class="text-danger"> You must enter a password</span>
                                        
                                        <span data-ng-show="registrationForm.pw.$error.minlength && registrationForm.pw.$touched"  class="text-danger">Your password has to be at least seven characters</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="userPass2" class="control-label col-md-3 col-sm-3 col-xs-3"> Confirm-Password:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="password" class="form-control" name="cp" data-ng-model="userPass2" data-ng-pattern="userPass" data-ng-required="required" />
                                        
                                        <span data-ng-show="!registrationForm.cp.$error.required && registrationForm.pw.$error.minlength && registrationForm.cp.$touched " class="text-danger">You must make sure your password has the appropriate length</span>
                                        
                                        <span data-ng-if="userPass != userPass2 && !registrationForm.pw.$error.required &&
                                        !registrationForm.pw.$error.minlength &&                  registrationForm.cp.$touched"  class="text-danger"> Your password does not match</span>
                                        
                                        <span data-ng-show="registrationForm.cp.$error.required && registrationForm.cp.$touched && (!registrationForm.pw.$error.required) " class="text-danger"> You must confirm your password</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="role" class="control-label col-md-3 col-sm-3 col-xs-3"> Account type </label>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <select name="select" class="form-control" data-ng-change="getCode(acctype)" data-ng-model="acctype" required="required">
                                            <option id="role">Admin</option>
                                            <option id="role">Officer</option>
                                            <option id="role">Normal</option>
                                        </select>
                                        
                                        <span data-ng-show="registrationForm.select.$error.required && registrationForm.select.$touched" class="text-danger"> You must select a rank</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="check" class="control-label col-md-3 col-sm-3 col-xs-3">Registration code</label>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" data-ng-model="inputcode" id="check" data-ng-blur="checkcode(inputcode)"/>{{codemsg}}
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-md-10 col-sm-10 col-xs-9">
                                    <button type="submit" class="btn btn-lg btn-primary" data-ng-click="">
                                    Register
                                    </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        {{msg3}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    
                </div>
            </div>
        </div>
           
			
		<footer class="footer">
			<p> For any inquiries regarding anything, please contact <a href="mailto:4329619@students.swinburne.edu.my">Lester	</a></p>
			<p class="copyright">&#169; SWE30010 Development Project 2 Semester 2 2016</p>		
		</footer>
			
			
		</div>
		

		


		
		
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/angular-ui-router.js"></script>

	</body>
</html>