        
<div class="row">
    <div class="col-md-12 col-xs-12 maincontent">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-ng-click = "mode = 'add'">Add Stock</button>
            <button type="button" class="btn btn-default" data-ng-click = "mode = 'edit'">Edit Stock</button><br/><br/><br/>
        </div>

        <div data-ng-if="mode == 'add'">
            <form name="invenAddForm" class="form-horizontal" novalidate
                      ="novalidate" >
            <fieldset>
            <legend>Insert New Stock:</legend>

            <div class="form-group">
                <label for="item" class="control-label col-md-2 col-sm-2 col-xs-3"> Item Name: </label>
                <div class="col-md-3 col-sm-3 col-xs-8">
                    <input type="text" class="form-control" data-ng-model="item" id="item"/>    
                </div>
            </div>

            <div class="form-group">     
                <label for="itemAmount" class="control-label col-md-2 col-sm-2 col-xs-3"> Item Amount: </label>
                <div class="col-md-3 col-sm-3 col-xs-8">
                    <input type="number" class="form-control" data-ng-model="itemAmount" id="itemAmount"/>    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-md-10 col-sm-10 col-xs-9">
                    <button type="submit" class="btn btn-lg btn-primary" data-ng-click="">Insert</button>
                </div>
           </div> 

            </fieldset>       
            </form>
        </div>
        <div data-ng-if="mode == 'edit'">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th id="itemName" scope="col"  class="info">ItemName</th>
                        <th id="itemAmount" scope="col" class="info">ItemAmount</th>
                        <th id="itemDescrp" scope="col" class="info">ItemDescription</th>
                        <th id="itemPrice" scope="col"  class="info">ItemPrice</th>
                        <th id="UnitsOrder" scope="col"  class="info">UnitsOrder</th>
                        <th id="edit" scope="col" class="info">Edit</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td data-ng-bind="" headers="itemName">1</td>
                        <td data-ng-bind="" headers="itemAmount">2</td>
                        <td data-ng-bind="" headers="itemDescrp">3</td>
                        <td data-ng-bind="" headers="itemPrice" >4</td>
                        <td data-ng-bind="" headers="UnitsOrder">5</td>
                        <td headers="edit"><button type="submit" data-ng-click="" class="btn">Edit</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>            
