
<script src="js/csv.js"></script>


<div data-ng-init="checkInven()"></div> 

<div class="row">
<div class="col-md-12 col-xs-12 maincontent" data-ng-controller="salesCtrl">
<div data-ng-if="salesMode == 'add'" >
    <!-- Admin Table -->
    <div class="col-md-12 col-xs-12 maincontent" data-ng-if="Acc == 'Admin' ">
            <div class="row">
                <div class="col-md-2 col-xs-2">
                <div year-drop offset="0"></div>
                Month:
                <select class="form-control col-md-3" data-ng-model="selectedMonth" data-ng-change="updateMonth(selectedMonth)">
                  <option value=""></option>
                  <option value="01">Jan</option>  
                  <option value="02">Feb</option>  
                  <option value="03">Mar</option>  
                  <option value="04">Apr</option>  
                  <option value="05">May</option>  
                  <option value="06">Jun</option>  
                  <option value="07">Jul</option>  
                  <option value="08">Aug</option>  
                  <option value="09">Sep</option>  
                  <option value="10">Oct</option>  
                  <option value="11">Nov</option>  
                  <option value="12">Dec</option>  
                </select>
                    
                    
                </div>           
                            
                
            </div>
            <br>      

            <div id="dvData">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th scope="col"  class="info">SalesID</th>
                        <th id="itemName" scope="col"  class="info">ItemName</th>
                        <th id="itemUnitOrder" scope="col" class="info">ItemUnitOrder</th>
                        <th id="clientName" scope="col" class="info">ClientName</th>
                        <th id="clientContact" scope="col"  class="info">ClientContact</th>
                        <th id="userID" scope="col"  class="info">UserID</th>
                        <th id="salesDate" scope="col" class="info">SalesDate</th>
                        <th id="totalPrice" scope="col" class="info">TotalPrice</th>
                        <th id="edit" scope="col" class="info">Edit</th>
                        <th id="del" scope="col" class="info">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-repeat="sales in salesData | filter: selectedYearFilter | filter: selectedMonthFilter">
 
                            <td>{{sales.SalesID}}</td>
                            <td>{{sales.ItemName}}</td>
                            <td>{{sales.ItemUnitsOrder}}</td>		
                            <td>{{sales.ClientName}}</td>
                            <td>{{sales.ClientContact}}</td>
                            <td>{{sales.UserID}}</td>
                            <td>{{sales.SalesDate}}</td>
                            <td>{{sales.TotalPrice}}</td>

                            <td headers="edit"><button type="submit" data-ng-click="chngSalesMode(sales.SalesID)" class="btn">Edit</button></td>
                            <td headers="del"><button type="submit" data-ng-click="removeSales(sales.SalesID)" class="btn">Del</button></td>
                        </tr>
                    </tbody>             

                </table>        
        </div>
        
        <div class="row">
            <div class="col-lg-3">
                <a id ="export" role='button'><button class="btn btn-lg btn-primary">Convert To CSV</button> </a>
            </div>
        </div>
        <br/>
        

          <!-- <a id ="export" role='button'>Click On This Here Link To Export The Table Data into a CSV File      </a>-->
           
           
            
            
            <form name="salesAddForm" class="form-horizontal" novalidate
                      ="novalidate" data-ng-submit="addSales(itemName,itemUnit,clientName,clientContact,sDate)" >
                <fieldset>
                <legend>Insert New Sales:</legend>
                    

                <div class="form-group">
                    <label for="item" class="control-label col-md-2 col-sm-2 col-xs-3"> Item Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                       <!-- <input type="text" class="form-control" data-ng-model="itemName" id="item"/>-->  
                        <select class="form-control" data-ng-model="itemName">
                            <option data-ng-repeat="inven in inventoryData" value="{{inven.ItemName}}"  id="item">{{inven.ItemName}}</option>               
                        </select>                        
                    </div>
                </div>

                <div class="form-group">     
                    <label for="UnitOrder" class="control-label col-md-2 col-sm-2 col-xs-3"> Item UnitOrder: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="number" class="form-control" data-ng-model="itemUnit" id="UnitOrder" data-ng-required="required" name="uorder"/>
                        <span data-ng-show="salesAddForm.uorder.$error.required && salesAddForm.uorder.$touched" class="text-danger">You must enter an item unit order</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cName" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="text" class="form-control" data-ng-model="clientName" id="cName" data-ng-required="required" name="cname"/>
                        <span data-ng-show="salesAddForm.cname.$error.required && salesAddForm.cname.$touched" class="text-danger">You must enter a client name</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cContact" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Contact: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="tel" class="form-control" data-ng-model="clientContact" id="cContact" data-ng-required="required" name="cc" pattern="((\+|00)?[1-9]{2}|0)[1-9]( ?[0-9]){8}" placeholder="+(00)9999 9999"/>
                        <span data-ng-show="salesAddForm.cc.$error.required && salesAddForm.cc.$touched" class="text-danger">You must enter a client number</span>
                        <span data-ng-show="salesAddForm.cc.$error.pattern && salesAddForm.cc.$touched" class="text-danger">You must enter a contact number</span>
                    </div>
                </div>

                <div class="form-group">
                     <label for="datepicker" class="control-label col-md-2 col-sm-2 col-xs-3"> Sales Date: </label>
                     <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type='text' class="form-control" data-ng-model="sDate" id="datepicker" data-ng-required="required" name="sd" />
                         <span data-ng-show="salesAddForm.sd.$error.required && salesAddForm.sd.$touched" class="text-danger">You must enter a date</span>
                     </div>
                     <script type="text/javascript">
                         $(function(){
                         $('#datepicker').datepicker({
                            format: 'yyyy-mm-dd'
                         });
                     });
                     </script>
                </div>
                    
            
                    
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-md-10 col-sm-10 col-xs-9">
                        <button type="submit" class="btn btn-lg btn-primary" data-ng-click="">Insert</button>
                    </div>
               </div> 
               </fieldset>       
            </form>
        </div>
    
    <!-- officer table-->
    <div class="col-md-12 col-xs-12 maincontent" data-ng-if="Acc == 'Officer' ">
        
            <div class="row">
                <div class="col-md-2 col-xs-2">
                <div year-drop offset="0"></div>
                Month:
                <select class="form-control col-md-3" data-ng-model="selectedMonth" data-ng-change="updateMonth(selectedMonth)">
                  <option value=""></option>
                  <option value="01">Jan</option>  
                  <option value="02">Feb</option>  
                  <option value="03">Mar</option>  
                  <option value="04">Apr</option>  
                  <option value="05">May</option>  
                  <option value="06">Jun</option>  
                  <option value="07">Jul</option>  
                  <option value="08">Aug</option>  
                  <option value="09">Sep</option>  
                  <option value="10">Oct</option>  
                  <option value="11">Nov</option>  
                  <option value="12">Dec</option>  
                </select>
                </div>
            </div>
            <br>
            
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th scope="col"  class="info">SalesID</th>
                    <th id="itemName" scope="col"  class="info">ItemName</th>
                    <th id="itemUnitOrder" scope="col" class="info">ItemUnitOrder</th>
                    <th id="clientName" scope="col" class="info">ClientName</th>
                    <th id="clientContact" scope="col"  class="info">ClientContact</th>
                    <th id="userID" scope="col"  class="info">UserID</th>
                    <th id="salesDate" scope="col" class="info">SalesDate</th>
                    <th id="totalPrice" scope="col" class="info">TotalPrice</th>
                    <th id="edit" scope="col" class="info">Edit</th>

                </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="sales in salesData | filter: selectedYearFilter | filter: selectedMonthFilter">

                        <td>{{sales.SalesID}}</td>
                        <td>{{sales.ItemName}}</td>
                        <td>{{sales.ItemUnitsOrder}}</td>		
                        <td>{{sales.ClientName}}</td>
                        <td>{{sales.ClientContact}}</td>
                        <td>{{sales.UserID}}</td>
                        <td>{{sales.SalesDate}}</td>
                        <td>{{sales.TotalPrice}}</td>

                        <td headers="edit"><button type="submit" data-ng-click="chngSalesMode(sales.SalesID)" class="btn">Edit</button></td>

                    </tr>
                </tbody>                

            </table>            
            
            
            
            
            <form name="salesAddForm" class="form-horizontal" novalidate
                      ="novalidate" data-ng-submit="addSales(itemName,itemUnit,clientName,clientContact,sDate)" >
                <fieldset>
                <legend>Insert New Sales:</legend>
                    

                <div class="form-group">
                    <label for="item" class="control-label col-md-2 col-sm-2 col-xs-3"> Item Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                       <!-- <input type="text" class="form-control" data-ng-model="itemName" id="item"/>-->  
                        <select class="form-control" data-ng-model="itemName">
                            <option data-ng-repeat="inven in inventoryData" value="{{inven.ItemName}}"  id="item">{{inven.ItemName}}</option>               
                        </select>                        
                    </div>
                </div>

                <div class="form-group">     
                    <label for="UnitOrder" class="control-label col-md-2 col-sm-2 col-xs-3"> Item UnitOrder: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="number" class="form-control" data-ng-model="itemUnit" id="UnitOrder" data-ng-required="required" name="uorder"/>
                        <span data-ng-show="salesAddForm.uorder.$error.required && salesAddForm.uorder.$touched" class="text-danger">You must enter an item unit order</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cName" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="text" class="form-control" data-ng-model="clientName" id="cName" data-ng-required="required" name="cname"/>
                        <span data-ng-show="salesAddForm.cname.$error.required && salesAddForm.cname.$touched" class="text-danger">You must enter a client name</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cContact" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Contact: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="tel" class="form-control" data-ng-model="clientContact" id="cContact" data-ng-required="required" name="cc" pattern="((\+|00)?[1-9]{2}|0)[1-9]( ?[0-9]){8}" placeholder="+(00)9999 9999"/>
                        <span data-ng-show="salesAddForm.cc.$error.required && salesAddForm.cc.$touched" class="text-danger">You must enter a client number</span>
                        <span data-ng-show="salesAddForm.cc.$error.pattern && salesAddForm.cc.$touched" class="text-danger">You must enter a contact number</span>
                    </div>
                </div>

                <div class="form-group">
                     <label for="datepicker" class="control-label col-md-2 col-sm-2 col-xs-3"> Sales Date: </label>
                     <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type='text' class="form-control" data-ng-model="sDate" id="datepicker" data-ng-required="required" name="sd" />
                         <span data-ng-show="salesAddForm.sd.$error.required && salesAddForm.sd.$touched" class="text-danger">You must enter a date</span>
                     </div>
                     <script type="text/javascript">
                         $(function(){
                         $('#datepicker').datepicker({
                            format: 'yyyy-mm-dd'
                         });
                     });
                     </script>
                </div>
                
                    
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-md-10 col-sm-10 col-xs-9">
                        <button type="submit" class="btn btn-lg btn-primary" data-ng-click="">Insert</button>
                    </div>
               </div> 
               </fieldset>       
            </form>
        </div>
    
    
    <!--Normal user -->
    <div class="col-md-12 col-xs-12 maincontent" data-ng-if="Acc == 'Normal' ">
            <div class="row">
                <div class="col-md-2 col-xs-2">
                <div year-drop offset="0"></div>
                Month:
                <select class="form-control col-md-3" data-ng-model="selectedMonth" data-ng-change="updateMonth(selectedMonth)">
                  <option value=""></option>
                  <option value="01">Jan</option>  
                  <option value="02">Feb</option>  
                  <option value="03">Mar</option>  
                  <option value="04">Apr</option>  
                  <option value="05">May</option>  
                  <option value="06">Jun</option>  
                  <option value="07">Jul</option>  
                  <option value="08">Aug</option>  
                  <option value="09">Sep</option>  
                  <option value="10">Oct</option>  
                  <option value="11">Nov</option>  
                  <option value="12">Dec</option>  
                </select>
                </div>
            </div>
            <br>
            
            <table class="table table-hover table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th scope="col"  class="info">SalesID</th>
                        <th id="itemName" scope="col"  class="info">ItemName</th>
                        <th id="itemUnitOrder" scope="col" class="info">ItemUnitOrder</th>
                        <th id="clientName" scope="col" class="info">ClientName</th>
                        <th id="clientContact" scope="col"  class="info">ClientContact</th>
                        <th id="userID" scope="col"  class="info">UserID</th>
                        <th id="salesDate" scope="col" class="info">SalesDate</th>
                        <th id="totalPrice" scope="col" class="info">TotalPrice</th>

                    </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-repeat="sales in salesData | filter: selectedYearFilter | filter: selectedMonthFilter | filter: IDu">
                           
                            <td>{{sales.SalesID}}</td>
                            <td>{{sales.ItemName}}</td>
                            <td>{{sales.ItemUnitsOrder}}</td>		
                            <td>{{sales.ClientName}}</td>
                            <td>{{sales.ClientContact}}</td>
                            <td>{{sales.UserID}}</td>
                            <td>{{sales.SalesDate}}</td>
                            <td>{{sales.TotalPrice}}</td>


                        </tr>
                    </tbody>
                

            </table>
            {{msg}}
            
            
            
            
            
            <form name="salesAddForm" class="form-horizontal" novalidate
                      ="novalidate" data-ng-submit="addSales(itemName,itemUnit,clientName,clientContact,sDate)" >
                <fieldset>
                <legend>Insert New Sales:</legend>
                    

                <div class="form-group">
                    <label for="item" class="control-label col-md-2 col-sm-2 col-xs-3"> Item Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                       <!-- <input type="text" class="form-control" data-ng-model="itemName" id="item"/>--> 
                        <select class="form-control" data-ng-model="itemName">
                            <option data-ng-repeat="inven in inventoryData" value="{{inven.ItemName}}"  id="item">{{inven.ItemName}}</option>               
                        </select>                        
                    </div>
                </div>

                <div class="form-group">     
                    <label for="UnitOrder" class="control-label col-md-2 col-sm-2 col-xs-3"> Item UnitOrder: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="number" class="form-control" data-ng-model="itemUnit" id="UnitOrder" data-ng-required="required" name="uorder"/>
                        <span data-ng-show="salesAddForm.uorder.$error.required && salesAddForm.uorder.$touched" class="text-danger">You must enter an item unit order</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cName" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="text" class="form-control" data-ng-model="clientName" id="cName" data-ng-required="required" name="cname"/>
                        <span data-ng-show="salesAddForm.cname.$error.required && salesAddForm.cname.$touched" class="text-danger">You must enter a client name</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cContact" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Contact: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="tel" class="form-control" data-ng-model="clientContact" id="cContact" data-ng-required="required" name="cc" pattern="((\+|00)?[1-9]{2}|0)[1-9]( ?[0-9]){8}" placeholder="+(00)9999 9999"/>
                        <span data-ng-show="salesAddForm.cc.$error.required && salesAddForm.cc.$touched" class="text-danger">You must enter a client number</span>
                        <span data-ng-show="salesAddForm.cc.$error.pattern && salesAddForm.cc.$touched" class="text-danger">You must enter a contact number</span>
                    </div>
                </div>

                <div class="form-group">
                     <label for="datepicker" class="control-label col-md-2 col-sm-2 col-xs-3"> Sales Date: </label>
                     <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type='text' class="form-control" data-ng-model="sDate" id="datepicker" data-ng-required="required" name="sd" />
                         <span data-ng-show="salesAddForm.sd.$error.required && salesAddForm.sd.$touched" class="text-danger">You must enter a date</span>
                     </div>
                     <script type="text/javascript">
                         $(function(){
                         $('#datepicker').datepicker({
                            format: 'yyyy-mm-dd'
                         });
                     });
                     </script>
                </div>
                
                    
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-md-10 col-sm-10 col-xs-9">
                        <button type="submit" class="btn btn-lg btn-primary" data-ng-click="">Insert</button>
                    </div>
               </div> 
               </fieldset>       
            </form>
        </div>
        
        
        
    </div>

    
    <!--sales edit-->
<div data-ng-if="salesMode == 'edit'" data-ng-repeat="sales in salesData|filter:{SalesID:sid}">
            <form name="salesEditForm" class="form-horizontal" novalidate
                      ="novalidate" data-ng-init="LoadData(sales.ItemName,sales.ItemUnitsOrder,sales.ClientName,sales.ClientContact,sales.SalesDate)">
            <fieldset>
            <legend>Edit Sales:</legend>
            
            <div class="form-group">
                <label for="itemE" class="control-label col-md-2 col-sm-2 col-xs-3"> SalesID: {{sales.SalesID}}   </label>
            </div>

            <div class="form-group">
                    <label for="item" class="control-label col-md-2 col-sm-2 col-xs-3"> Item Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                       <!-- <input type="text" class="form-control" data-ng-model="itemName" id="item"/>  -->
                        <select class="form-control" data-ng-model="itemName2">
                            <option data-ng-repeat="inven in inventoryData" value="{{inven.ItemName}}"  id="item">{{inven.ItemName}}</option>               
                        </select>                        
                    </div>
                </div>

                <div class="form-group">     
                    <label for="UnitOrder" class="control-label col-md-2 col-sm-2 col-xs-3"> Item UnitOrder: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="number" class="form-control"  string-to-number data-ng-model="itemUnit2" id="UnitOrder" data-ng-required="re   quired" name="ueditorder"/>
                        <span data-ng-show="salesEditForm.ueditorder.$error.required && salesEditForm.ueditorder.$touched" class="text-danger">You must enter an item unit order</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cName" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Name: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="text" class="form-control" data-ng-model="clientName2" id="cName" data-ng-required="required" name="cnameedit"/>
                        <span data-ng-show="salesEditForm.cnameedit.$error.required && salesEditForm.cnameedit.$touched" class="text-danger">You must enter a client name</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cContact" class="control-label col-md-2 col-sm-2 col-xs-3"> Client Contact: </label>
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type="text" class="form-control" data-ng-model="clientContact2" id="cContact" data-ng-required="required" name="ccedit" pattern="((\+|00)?[1-9]{2}|0)[1-9]( ?[0-9]){8}" placeholder="+(00)9999 9999"/>
                        <span data-ng-show="salesEditForm.ccedit.$error.required && salesEditForm.ccedit.$touched" class="text-danger">You must enter a client number</span>
                        <span data-ng-show="salesEditForm.ccedit.$error.pattern && salesEditForm.ccedit.$touched" class="text-danger">You must enter a contact number</span>
                    </div>
                </div>
                
                <div class="form-group">
                     <label for="datepicker2" class="control-label col-md-2 col-sm-2 col-xs-3"> Sales Date: </label>
                     <div class="col-md-3 col-sm-3 col-xs-8">
                        <input type='text' class="form-control" data-ng-model="sDate2" id="datepicker2" data-ng-required="required" name="sdedit"/>
                         <span data-ng-show="salesEditForm.sdedit.$error.required && salesEditForm.sdedit.$touched" class="text-danger">You must enter a date</span>
                     </div>
                     <script type="text/javascript">
                         $(function(){
                         $('#datepicker2').datepicker({
                            format: 'yyyy-mm-dd'
                         });
                     });
                     </script>
                </div>
                
                <div class="form-group">
                    <label for="tPrice" class="control-label col-md-2 col-sm-2 col-xs-3"> Total Price: {{sales.TotalPrice}} </label>
                </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-md-10 col-sm-10 col-xs-9">
                    <button type="submit" class="btn btn-lg btn-primary" data-ng-click="editSales(itemName2,itemUnit2,clientName2,clientContact2)">Insert</button>
                </div>
           </div> 
               {{msg2}}
           <p><a data-ng-click="addMode()"> back 	&larr;</a></p>
                

            </fieldset>       
            </form>
        </div>  
</div>
</div>    


